.user {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.user h2 {
  font-size: 45px;
  margin: 4% auto;
  color: black;
}
